# Auto detect text files and perform LF normalization
* text=auto
# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
ege/lib/vs2015/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2022/x64/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2022/x86/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vc6/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2010/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2015/amd64/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2017/x64/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2017/x86/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2019/x64/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2019/x86/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/vs2010/amd64/graphics.lib filter=lfs diff=lfs merge=lfs -text
ege/lib/devcpp/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw64/mingw-w64-gcc-8.1.0-x86_64-posix-seh/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw64/mingw-w64-gcc-8.1.0-x86_64-win32-seh/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw64/mingw-w64-gcc-8.1.0-x86_64-win32-sjlj/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw-w64-debian/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/codeblocks/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/devcpp/32/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/macOS/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw64/mingw-w64-gcc-8.1.0-x86_64-posix-sjlj/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/redpanda/libgraphics.a filter=lfs diff=lfs merge=lfs -text
ege/lib/mingw64/mingw-w64-gcc-8.1.0-x86_64/libgraphics.a filter=lfs diff=lfs merge=lfs -text
